* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    Variables en CSS
    Custom Properties
*/

:root {
    --naranja: #f90;
    --negro: #222;
    --blanco: #fff;
}

body {
    background-image: url(images/pattern.jpg);
    background-color: var(--negro);
    color: var(--negro);
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera, .contenido {
    max-width: 1000px;
    margin: auto;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.cabecera-titulo {
    
    color: var(--naranja);
}

.contenido {
    background-color: var(--blanco);
}

